/*
==============================
| Постоянные клиенты
==============================
*/
.clients__title {
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.clients__item {
  margin-right: 0;
  margin-bottom: 30px;
  flex-basis: calc((100% - 30px) / 2);

@media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-last-child(-n + 2) {
        margin-bottom: -30px;
    }
}

@media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);

    &:nth-last-child(-n + 3) {
        margin-bottom: -30px;
    }
}

@media screen and (min-width: 1200px) {
  margin-bottom: 0;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
}

.clients__link {
  height: 92px;


  display: flex;
  align-items: center;
  justify-content: center;
  

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  fill: var(--icon-color);

  transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
