/*
==============================
| Шапка сайта (Header) 
==============================
*/
.header {
  // width: 100%;
  // display: flex;
  position: relative;
  // align-items: center;
  background-color: var(--main-background-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  // align-items: center;
}

/* < !-- Якорные ссылки --> */
.navigation {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  // margin-right: 305px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 88px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list .navigation__item + .navigation__item {
  margin-left: auto;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__list li:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.navigation__link.navigation__link--current {
  color: var(--accent-color);
  position: relative;
}

.navigation__link.navigation__link--current::after {
  content: "";

  left: 0;
  bottom: 0;

  position: absolute;

  display: block;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__group {
  margin-left: auto;
  // display: flex;
  // flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-top: 302px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 21px;
    margin-bottom: 21px;
    //  margin-left: 50px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 302px;
  }
}

// .header__item {
//   @media screen and (max-width: 767px) {
//     padding-top: 32px;
//     padding-left: 40px;

//   }
// }
@media screen and (max-width: 1199.98px) {
  .header__group .header__item+.header__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__group .header__item + .header__item {
    margin-top: 0;
    margin-left: 50px;
  }
}
.header__mail,
.header__phone {
  // padding-top: 32px;
  // padding-bottom: 32px;
  // display: block;

  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition: color 250ms var(--timing-function);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.header__mail:hover,
.header__mail:focus,
.header__phone:hover,
.header__phone:focus {
  color: var(--accent-color);
}

/* icon */
// .header__group {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.header__mail,
.header__phone {
  // display: flex;
  align-items: center;

  color: var(--main-text-color);
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
