/*
==============================
| Чем мы занимаемся
==============================
*/
.lessons {
    padding-top: 0;
}

.lessons__list {
    display: flex;
}

.lessons__item {
    width: 370px;
    margin-right: 30px;

    position: relative;

    &:last-child {
      margin-right: 0;
    }
}

.lessons__title {
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.lessons__text-picture {
    position: absolute;
    display: flex;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    justify-content: center;
    align-items: center;

    color: var(--main-background-color);
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;

    transform: translate(0px, -100%);
}