:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-sefir;

    /* --text-color */
    --accent-color: #2196f3;
    --main-text-color: #757575;
    --secondary-text-color: #212121;

    /* --background-color */
    --main-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --dark-background-color: #2f303a;

    /* icon-color */
    --icon-color: #afb1b8;

    /* animation */
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

